body {
  background: rgb(86, 142, 86);
}

#app {
  background: lightgreen;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
}
